<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>user2::목록</title>
	</head>
	<body>
		<h3>User2 목록</h3>
		
		<a th:href="@{/}">메인</a>
		<a th:href="@{/user2/register}">등록</a>
		
		<table border="1">
			<tr>
				<th>아이디</th>
				<th>이름</th>
				<th>생년월일</th>
				<th>나이</th>
				<th>관리</th>
			</tr>

			<tr th:each="dto:${dtoList}">
				<!-- 표현언어에서는 객체 속성을 직접 참조가능 -->
				<td>[[${dto.userid}]]</td>
				<td>[[${dto.name}]]</td>
				<td th:text="${dto.birth}">생년월일</td>
				<td th:text="${dto.addr}">주소</td>
				<td>
					<a th:href="@{/user2/modify(userid=${dto.userid})}">수정</a>
					<a th:href="@{/user2/remove(userid=${dto.userid})}">삭제</a>
				</td>
			</tr>
		</table>
		
		
	</body>
</html>